package com.github.rawsanj.util;

import com.github.rawsanj.Filter;
import java.util.ArrayList;
import java.util.List;

public class FilterRegistrator {

private final List<Filter> filters = new ArrayList<>();

    public FilterRegistrator() {
        #foreach($filter in $filterList)
            filters.add(new $filter());
        #end
    }

    public List<Filter> getRegisteredFilters() {
        return filters;
    }
}
